* {
    box-sizing: border-box;
}

body {
    background-color: #236AB9;
    margin: 0px;
}

.header {
    height: 90px;
    color: #609CE1;
    background-color: #091D34;
    display: flex;
    justify-content: center;
}

.menu {
    background-color: #609CE1;
    display: flex;
    justify-content: center;
    height: 50px;
}

.menu ul {
    background-color: yellow;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    list-style: none;
    float: left;
    padding: 0px 20px;
    margin: 0px;
}

/*------------------ Today */
.staff_btn {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    padding: 8px;
    border: 1px solid black;
    background-color: rgb(244, 244, 137);
}

.staff_btn:hover .dropdown {
    display: block;
}

.dropdown a:hover {
    background-color: #091D34;
    color: white;
}
/*------------------ End */

.menu a {
    text-decoration: none;
    color: black;
}